@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-yekan);
}

@layer base {
  :root {
    /* &, */
    &.light-mode {
      --color-primary: #d2ecec;
      --color-secondary: #000;
      --color-tertiary: #fff;
    }
    &,
    &.dark-mode {
      --color-primary: #092744ff;
      --color-secondary: #fff;
      --color-tertiary: #0d3b66ff;
    }
  }
}

@theme {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-tertiary: var(--color-tertiary);
}

.icon-box {
  @apply bg-[#1c9a9aa8] w-6 h-6 relative text-center text-white flex items-center justify-center;
}

.icon-box::before,
.icon-box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #1c9a9a89;
}

.icon-box::before {
  transform: rotate(30deg);
}

.icon-box::after {
  transform: rotate(60deg);
}
